<div class="create left">
	<div class="header">Enter your own quote : </div>
	
	<%= form_tag({ :action => :save }, { :method => :post }) do %>
		<div><%= text_area "quote", "content", :rows => 5, :class => "content" %></div>
		<div class="book">
			<span>from the book</span> <%= text_field "quote", "book", :size => 500, :class => "book" %>
		</div>
		<div class="submit">
			<%= submit_tag("Post") %>
		</div>
	<% end %>
</div>
<div class="list">
  <ul>
	<% @quotes.each do |quote| %>
	  	<li>
		  <div class='content'><%= quote.content %></div>
		  <div class='book'><%= quote.book %></div>
	  	</li>
	<% end %>
  </ul>
</div>